<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="bclSection" type="BCL.Configuration.BclConfigurationSection, BCL"/>
  </configSections>
  
  <bclSection>
    
    <culture name="ru-Ru"/>

    <defaultFolder path="d:\BCL\defaultFolder\"/>
    
    <listeningFolders>
      <folder path="d:\BCL\listen1\" />
      <folder path="d:\BCL\listen2\" />
    </listeningFolders>

    <rules>
      <rule outputFolder="d:\BCL\outputFolder(.docx)\" fileNameMask="\w*\.docx" isIndexNumber="true" isRelocationDate="true"></rule>
      <rule outputFolder="d:\BCL\outputFolder(.txt)\" fileNameMask="\w*\.txt" isIndexNumber="false" isRelocationDate="false"></rule>
    </rules>
    
  </bclSection>
</configuration>