<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="bclSection" type="BCL.Configuration.BclConfigurationSection, BCL"/>
  </configSections>
  
  <bclSection>
    
    <culture name="ru-Ru"/>

    <defaultFolder path=""/>
    
    <listeningFolders>
      <folder path="d:\TKMI\Tests\"></folder>
      <folder path="d:\Projects\.net for A1 mentoring\"></folder>
    </listeningFolders>

    <rules>
      <rule outputFolder="" fileNameMask="" isIndexNumber="true" isRelocationDate="true"></rule>
      <rule outputFolder="" fileNameMask="" isIndexNumber="false" isRelocationDate="false"></rule>
    </rules>
    
  </bclSection>
</configuration>