<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="bclSection" type="BCL.Configuration.BclConfigurationSection, BclConfigurationSection"/>
  </configSections>
  
  <bclSection>
    
    <culture name="ru-ru"/>
    
    <listeningFolders>
      <listeningFolder path="d:\TKMI\Tests\"></listeningFolder>
      <listeningFolder path="d:\Projects\.net for A1 mentoring\"></listeningFolder>
    </listeningFolders>

    <rules>
      <rule></rule>
    </rules>
    
  </bclSection>
</configuration>